<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="">Titulo</label>
        <input type="text" name="" id="" placeholder="Introduce un título" class="form-control"
            formControlName="titulo">
    </div>
    <div class="mb-3">
        <label for="">Texto</label>
        <textarea class="form-control" rows="10" formControlName="texto"></textarea>
    </div>
    <div class="mb-3">
        <label for="">Autor</label>
        <input type="text" name="" id="" placeholder="Introduce un autor" class="form-control" formControlName="autor">
    </div>
    <div class="mb-3">
        <label for="">Imagen</label>
        <input type="text" name="" id="" placeholder="Introduce la URL de una imagen" class="form-control"
            formControlName="imagen">
    </div>
    <div class="mb-3">
        <label for="">Fecha</label>
        <input type="date" name="" id="" placeholder="Introduce la fecha de la publicacion" class="form-control"
            formControlName="fecha">
    </div>
    <div class="mb-3">
        <label for="">Categoria</label>
        <select name="" id="">
            <option value="viajes">Ocio</option>
            <option value="viajes">Viajes</option>
            <option value="viajes">Motor</option>
            <option value="viajes">Deportes</option>
            <option value="viajes">Formación</option>
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" value="Publicar" class="btn btn-info">
    </div>
</form>